<div class="container p-4">
    <div class="row">

        {{#each AQ}}
        <div class="col-md-4 mr-auto">
            <div class="card text-center my-0" style="height: 500px;">

                <div class="card-body ">
                    <img src="/OP-images/{{nombre}}.png" style="padding: 0; margin:0; height:250px;"
                        class="card-img-top p-0 m-0" alt="">
                    <h2 class="card-title text-uppercase">
                        {{nombre}}
                    </h2>
                    <div class="card-text text-left pl-3">
                        <h5 class="">
                            <span>Clase: </span> {{clase}},
                        </h5>

                        <h5>
                            <span>Rango: </span> {{rango}}
                        </h5>

                        <p><span>habilidad: </span> {{habilidad}}</p>
                        <p><span>Ciudad: </span> {{lugarResidencia}}</p>
                        <p> <span>telefono: </span>{{telefono}}</p>
                    </div>
                </div>
            </div>
            <a class="btn btn-danger btn-block p-2 mt-0 text-white" href="/heroes/Atomic-Samurai/Combates">COMBATES</a>
        </div>

        <div class="col-md-8 fondo">
            <h2>Historia</h2>
            <p>Kamikaze (カミカゼ, Kamikaze), también conocido como Atomic Samurai (アトミック侍, Atomikku Zamurai), es el héroe
                profesional Clase-S, rango 4 de la Asociación de Héroes. Es un maestro espadachín y un miembro del
                Consejo de Espadachines.</p>
            <h2>Personalidad</h2>
            <p>Atomic Samurai tiene una personalidad bastante orgullosa, como se vio cuando se negó a darle la mano a
                Saitama, le dijo que solo reconocía a los fuertes y le dijo que lo saludaría correctamente solo si
                llegaba a los rangos más altos de Clase-S. Esto indica que está bastante sesgado en la forma en que
                percibe a una persona, ya que solo observa la apariencia y el rango de Saitama, y ​​no su poder real.
                También parece que no le gusta que lo llamen viejo. Kamikaze cuida a sus discípulos y los empuja a dar
                lo mejor esto se puede ver cuando su discípulo, Iaian, perdió su brazo, se negó a dejar que su habilidad
                con la espada disminuyera. Sin embargo, lo que más odia es que lo subestimen, ya que casi pierde la
                compostura cuando Amai Mask declaró a Kamikaze como más débil que él.

                Al mismo tiempo, solo parece tolerar que las personas llamen a sus discípulos débiles pero con gran
                incomodidad. A pesar de su naturaleza orgullosa, se comporta humildemente con aquellos a quienes
                respeta. Esto se ve con Bang, un compañero héroe a quien él tiene el mayor respeto, y también a sus
                compañeros Maestros Espadachines.</p>

            <h2>Poderes Y habilidades</h2>

            <p>Atomic Samurai es uno de los mejores héroes de la Clase-S. Se le considera uno de los más poderosos, así
                como su héroe de reserva más poderoso. También es considerado el Espadachín más fuerte de la Tierra.</p>
        </div>
        {{else}}

        {{/each}}

    </div>
</div>